
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
test-results/
playwright-report/
playwright/.cache/
.playwright/

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
dist/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.bak
*.tmp

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log
logs/
